<% provide(:title, 'Start') %>
<h2>Start</h2>

<!-- Intro -->
<div class="row-fluid">
	<div class="span1 offset1 spot eqh">
		<span class="label label-info">Note</span>
	</div>
	<div class="span7 eqhBase">
		<p>We collect only the following data for each test. We want to analyze if there are differences in the results obtained by different kinds of users.</p>
	</div>
</div>


<!-- FORM -->
<div class="row-fluid">
	<div class="span5 offset3">
		<p>Please fill in:</p>
		<%= form_for(@detection) do |f| %>

		<%= render 'shared/error_messages' %>

		<%= f.label :user %>
		<%= f.select :user, [["I'm new to the app",1],["I've already played with Tydes",2],["I'm an Experienced User",3]] ,
		{:prompt => 'Please select which kind of user defines you...'} %>

		<%= f.submit "Start", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
