<% provide(:title, 'Start') %>
<h2>Start</h2>

<!-- Intro -->
<div class="row-fluid">
	<div class="span1 offset1 spot eqh">
		<span class="label label-info">Note</span>
	</div>
	<div class="span7 eqhBase">
		<p>We collect only the following data for each test. We want to analyze if there are differences in the results obtained by different kinds of users.</p>
	</div>
</div>


<!-- FORM -->
<div class="row-fluid">
	<div class="span5 offset3">
		<p>Please tell us something about you:</p>
		<%= form_for(@detection) do |f| %>

		<%= render 'shared/error_messages' %>

		<%= f.label :user %>
		<%= f.select :user, [["I don't work in medicine/biology",1],
							 ["I work in medicine/biology but I am not an histologist",2],
							 ["I am an histologist",3]] ,
		{:prompt => 'How would you define yourself?'} %>

		<%= f.label :sight %>
		<%= f.select :sight, [["I have normal color vision",1],
							 ["I am colorblind",2]] ,
		{:prompt => 'How would you define your visual ability?'} %>


		<%= f.submit "Start", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
