<% provide(:title, 'Start') %>


<h1>Introduction</h1>

<!-- Intro -->
<div class="row-fluid">
	<div class="well span12">
		<div class="row-fluid">
			<div class="span10 offset1">
				<h2>Image classification experiment on the <abbr title="M I T O S">MITOS</abbr> dataset</h2>
				<p>
					Detecting and counting mitotic nuclei is an important part of the evaluation of breast cancer histological images. However, distinguishing mitotic nuclei from non-mitotic nuclei and other similar structures is hard and time-consuming, therefore researchers are designing automated algorithms for assisting histologists in this task.
				</p>
				<p>
					Algorithms learn to detect mitotic nuclei by looking at a large number of examples.  In this experiment, we want to compare their accuracy with the accuracy of humans who are new to the problem and are faced with the same task.
				</p>
				<p>The experiment is divided in two phases:</p>
				<dl class="dl-horizontal">
					<dt>
						TRAINING:
					</dt>
					<dd>we will show several labeled images including known mitotic nuclei, as well as other structures which look similar but are known NOT to be mitotic nuclei. Just like our algorithms, you should try to find out some criteria to tell the two classes apart.</dd>
					<dt>
						EVALUATION:
					</dt>
					<dd>then, we will show several unlabeled images, and you will be asked to classify each of them as either <span class="label label-info">MITOSIS</span> or <span class="label label-warning">NON-MITOSIS</span>. During evaluation, you still have access to the full set of training examples to use as a reference, and you can take as much time as you want.</dd>
				</dl>
				<p class="info">The experiment should take roughly <b>10 - 15 minutes</b>: you can classify as few or as many samples you want and exit at any time, and your results will be useful to us.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span5 offset3">
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><strong><%= value %></strong></div>
		<% end %>
	</div>
</div>



<!-- FORM -->
<div class="row-fluid">
	<div class="span5 offset3">
		<p>Please tell us something about you:</p>
		<%= form_for(@detection) do |f| %>

		<%= render 'shared/error_messages' %>

		<%= f.select :user, [["I don't work in medicine/biology",1],
							 ["I work in medicine/biology but I am not an histologist",2],
							 ["I am an histologist",3]] ,
		{:prompt => 'Your experience?'} %>

		<%= f.select :sight, [["I have normal color vision",1],
							 ["I am colorblind",2]] ,
		{:prompt => 'Your color vision ability?'} %>


		<%= f.label :nickname %>
		<p class="text-info">(You can leave it blank)</p>
		<%= f.text_field :nickname %>


		<%= f.submit "Begin the Experiment", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="row-fluid">
	<div class="well span12">
		<div class="row-fluid">
			<div class="span10 offset1">
				<p>
					<small>
						Names of Authors of this study are currently hidden during NIPS blind review period.
					</small>
				</p>
				<p>
					<small>
						The data used in this experiment is part of the public <a href="http://ipal.cnrs.fr/ICPR2012/?q=node/5">MITOS dataset</a>, built for project MITO by experienced pathologists at the Piti&eacute;-Salp&ecirc;tri&egrave;re Hospital in Paris, France.
					</small>
				</p>
			</div>
		</div>
	</div>
</div>