<% provide(:title, @detection.code) %>

<% if flash[:success].nil? %>
	<h2><strong>Thank you very much for your collaboration!</strong></h2>
<% else %>
	<h2>Results for session <strong><%= @detection.code %></strong></h2>
<% end %>

<div class="row-fluid">
	<div class="span3">Session code: <strong><%= @detection.code%></strong></div>
	<div class="span8">Here are your results:</div>
</div>
<div class="row-fluid">
	<div class="span4 offset4">
		<table class="table table-hover">
			<caption><strong>Detection results</strong></caption>
			<tr class="success">
				<td>True positives: <%= @detection.tp%></td>
				<td>True negatives: <%= @detection.tn%></td>
			</tr>
			<tr class="error">
				<td>False positives: <%= @detection.fp%></td>
				<td>False negatives: <%= @detection.fn%></td>
			</tr>
		</table>
	</div>
</div>
<div class="row-fluid">
	<div class="span4 offset4">
		<table class="table table-hover">
			<tr>
				<td>Your <em>Score</em> is:</td>
				<td><strong><%= @f1score %>%</strong></td>
			</tr>
			<tr>
				<td>Your <em>Sensitivity</em> is:</td>
				<td><strong><%= @sensitivity %>%</strong></td>
			</tr>
			<tr>
				<td>Your <em>Specificity</em> is:</td>
				<td><strong><%= @specificity %>%</strong></td>
			</tr>
			<tr>
				<td>
				</td>
			</tr>
			<tr>
				<td>Average of <em>Humans</em> is:</td>
				<td><strong>(not enough data yet)</strong></td>
			</tr>
			<tr>
				<td>Best of <em>Algorithms</em> is:</td>
				<td><strong>85%</strong></td>
			</tr>
			<tr>
				<td><em>Random Guess</em> is:</td>
				<td><strong>50%</strong></td>
			</tr>
			<tr>
				<td><em>Ideal classifier</em> is:</td>
				<td> <strong>100%</strong></td>
			</tr>
		</table>
	</div>
</div>