<% provide(:title, @detection.code) %>


<div id="toppanel">
	<div id="panel">
		<div class="content clearfix">
			<div class="left">
				<h1>Positive Samples</h1>
				<%= render :partial => "left_table", :locals => { :detection => @detection } %>
			</div>
			<div class="right">
				<h1>Negative Samples</h1>
				<%= render :partial => "right_table", :locals => { :detection => @detection } %>
			</div>
		</div>
</div> <!-- /login -->	

<!-- The tab on top -->	
<div class="tab">
	<ul class="login">
		<li class="left">&nbsp;</li>
		<li id="toggle">
			<a id="open" class="open" href="#">View Training set</a>
			<a id="close" style="display: none;" class="close" href="#">Close Panel</a>			
		</li>
		<li class="right">&nbsp;</li>
	</ul> 
</div> <!-- / top -->
	
</div> <!--panel -->


<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= thumb_for @detection.user %>
				<%= @detection.code %>
			</h1>
		</section>
	</aside>
</div>
<p>
	<button type="button" id="shortlyStart">Start</button>
</p>
<p>
	<span id="shortly" class="countdown"></span>&nbsp;
</p>
<p style="clear: both;">
	<span id="monitor"></span>
</p>


<%= render :partial => "right_table", :locals => { :detection => @detection } %>

<!--
<p>Codes: <%= @detection.value.keys %></p>
<p>Values: <%= @detection.value.values %></p>
-->
<%= link_to "Start now!", test_detection_path(@detection), class: "btn btn-large btn-primary", id: "trButton" %>