<% provide(:title, @detection.code) %>

<h1>Classification</h1>


<!-- Intro -->
<div class="row-fluid">
	<div class="span12 well">
		<div class="row-fluid">
			<div class="span10 offset1">
				<p class="text-info">
					Please give your best guess for the example below. Roughly 50% of the samples we show are
					<span class="label label-info">Mitosis</span> and 50% are <span class="label label-warning">NON Mitosis</span>.
				</p>
			</div>
		</div>
	</div>
</div>


<!-- message -->
<div class="row-fluid">
	<div class="span12">
		<% flash.each do |key, value| %>
			<div class="divCenter alert alert-<%= key %>"><strong><%= value %></strong></div>
		<% end %>
	</div>
</div>
<!-- -->

	
<div class="row-fluid">
	<div class="span4">
		<h4>Your current performance:</h4>
		<% if @detection.currId < 10 %>
			<p class="text-info">your performance will be available after 10 detections</p>
		<% else %>
			<p class="text-info">
				<ul class="unstyled">
					<li>Your current <em><a href="http://en.wikipedia.org/wiki/F1_score" target="_blank">Score</a></em> is: <strong><%= @f1score %>%</strong></li>
					<li>Average of <em>Humans</em> is: <strong>(not enough data yet)</strong></li>
					<li>Best of <em>Algorithms</em> is: <strong>85%</strong></li>
					<li><em>Random Guess</em> is: <strong>50%</strong></li>
					<li><em>Ideal classifier</em> is: <strong>100%</strong></li>
				</ul>
			</p>
		<% end %>
	</div>

	<div div class="span8 well">
				<%= form_tag(save_detection_path(@detection.id), :method=>'get', :multipart => true)  do %>
		<div class="row-fluid">
			<div class="span3">
				<p>&nbsp;</p>
				<div class="thumbnail">
					<a href="#samples" class="thumbnail">
						<%= image_tag(@detection.value[@curr_image_code][2], alt: @curr_image_code, title: @curr_image_code, class: "imgzoom") %>
					</a>
				</div>
			</div>
			<div class="span4">
				<p class="text-info">Your guess:</p>
				<p>
					<%= submit_tag "Definitely Mitosis", class: "btn btn-info btn-block", name: "mit_pp" %>
				</p>
				<p>
					<%= submit_tag "Probably Mitosis", class: "btn btn-info btn-block", name: "mit_qp" %>
				</p>
				<p>
					<%= submit_tag "Probably NON Mitosis", class: "btn btn-warning btn-block", name: "mit_qn" %>
				</p>
				<p>
					<%= submit_tag "Definitely NON Mitosis", class: "btn btn-warning btn-block", name: "mit_nn" %>
				</p>
					<% end %>
			</div>
			<div class="span5">
				<div class="row-fluid">
					<div class="span8 offset2 divCenter">
						<p>&nbsp;</p>
						<p class="text-info">Whenever you want, you can</p>
						<p><%= link_to "Finish your test", results_detection_path(@detection), class: "btn btn-primary" %></p>
						<p class="text-info">and see how you did.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- TRAINING SAMPLES -->
<div class="row-fluid">
	<div class="span12">
		<a name="samples"></a>
		<p>&nbsp;</p>
	</div>	
</div>

<div class="row-fluid">
	<div class="span6 well pull-left">
		<div class="row-fluid">
			<div class="span12">
				<p class="text-info">Training Set: <span class="label label-info">Mitosis</span></p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12 withscroll">
				<% (0..53).each do |row_index| %>
					<div class="row-fluid">
						<ul class="thumbnails">
							<% (0..3).each do |col_index| %>
								<li class="span3">
									<a href="#samples" class="thumbnail">
										<% code = @positive_keys[row_index * 4 + col_index] %>
										<%= image_tag(@detection.positive_training[code][1], alt: code, title: code, class: "imgzoom") %>
									</a>
								</li>
							<% end %>
						</ul>
					</div>
				<% end %>
			</div>
			<p class="text-info"><span class="label label-info">scroll</span> to view more samples</p>
		</div>
	</div>
	<div class="span6 well pull-right">
		<div class="row-fluid">
			<div class="span12">
				<p class="text-info">Training Set: <span class="label label-warning">NON Mitosis</span></p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12 withscroll">
				<% (0..53).each do |row_index| %>
					<div class="row-fluid">
						<ul class="thumbnails">
							<% (0..3).each do |col_index| %>
								<li class="span3">
									<a href="#samples" class="thumbnail">
										<% code = @negative_keys[row_index * 4 + col_index] %>
										<%= image_tag(@detection.negative_training[code][1], alt: code, title: code, class: "imgzoom") %>
									</a>
								</li>
							<% end %>
						</ul>
					</div>
				<% end %>
			</div>
			<p class="text-info"><span class="label label-info">scroll</span> to view more samples</p>
		</div>
	</div>
</div>


