<% provide(:title, @detection.code) %>
<script>
</script>

<h2>Classification</h2>

<!-- Intro -->
<div class="row-fluid">
	<div class="span1 pull-left eqh">
		<section>
			<p class="text-info"><em>Code:</em></p>
			<h5>
				<%= @detection.code %>
			</h5>
		</section>
	</div>
	<div class="span11 well well-small pull-right eqhBase">
		<div class="row-fluid">
			<div class="span10 offset1">
				<p>
					Please give your best guess for the example below. We know that many samples are very difficult. Each image we show has the same probability.
				</p>
				<dl>
					<dt>
						DEFINITELY MITOSIS
					</dt>
					<dd>
						there is a mitotic nucleus right at the center of this image
					</dd>
					<dt>
						UNSURE, PROBABLY MITOSIS
					</dt>
					<dd>
						inclined towards the presence of a mitotic nucleus at the center of this image
					</dd>
					<dt>
						UNSURE, PROBABLY NONMITOSIS
					</dt>
					<dd>
						inclined towards the absence of a mitotic nucleus in this image
					</dd>
					<dt>
						DEFINITELY NONMITOSIS
					</dt>
					<dd>
						there is no mitotic nucleus in this image
					</dd>

				</dl>
			</div>
		</div>
	</div>
</div>


<!-- TRAINING SAMPLES -->
<div class="row-fluid">
	<div class="span6 well pull-left">
		<a name="samples"></a>
		<div class="row-fluid">
			<div class="span12">
				<p>&nbsp</p>
				<h3><span class="label label-info">Mitotic samples</span></h3>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<% (0..2).each do |row_index| %>
					<div class="row-fluid">
						<ul class="thumbnails">
							<% (0..5).each do |col_index| %>
								<li class="span2">
									<a href="#samples" class="thumbnail">
										<% code = @positive_keys[row_index * 6 + col_index] %>
										<%= image_tag(@detection.positive_training[code][1], alt: code, title: code) %>
									</a>
								</li>
							<% end %>
						</ul>
					</div>
				<% end %>
			</div>
			<div class="span12 divCenter">
				<p class="text-info">showing samples from <strong><%= (@curr_pos_page - 1) * 18 + 1 %></strong> to 
				<strong><%= @curr_pos_page * 18 %></strong></p>
			</div>
			<div class="pagination pagination-small pagination-centered">
				<%= will_paginate @positive_keys, :param_name => 'pos_page', :params => {:anchor => "samples"} %>
			</div>
		</div>
	</div>
	<div class="span6 well pull-right">
		<div class="row-fluid">
			<div class="span12">
				<p>&nbsp</p>
				<h3><span class="label label-warning">NON Mitotic samples</span></h3>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<% (0..2).each do |row_index| %>
					<div class="row-fluid">
						<ul class="thumbnails">
							<% (0..5).each do |col_index| %>
								<li class="span2">
									<a href="#samples" class="thumbnail">
										<% code = @negative_keys[row_index * 6 + col_index] %>
										<%= image_tag(@detection.negative_training[code][1], alt: code, title: code) %>
									</a>
								</li>
							<% end %>
						</ul>
					</div>
				<% end %>
			</div>
			<div class="span12 divCenter">
				<p class="text-info">showing samples from <strong><%= (@curr_neg_page - 1) * 18 + 1 %></strong> to 
				<strong><%= @curr_neg_page * 18 %></strong></p>
			</div>
			<div class="pagination pagination-small pagination-centered">
				<%= will_paginate @negative_keys, :param_name => 'neg_page', :params => {:anchor => "samples"} %>
			</div> 
		</div>
	</div>
</div>


<!-- -->

	
	<div class="row-fluid">
		<div class="well span4 eqh">
			<h3>Your performance:</h3>
			<% if @detection.currId < 10 %>
				<p class="text-info">your performance will be available after 10 detections</p>
			<% else %>
				<p class="text-info">Your current F1-score is: <%= @f1score %>
			<% end %>
		</div>
		<div div class="well span4 eqh">
			<%= form_tag(test_detection_path(@detection.id), :method=>'post', :multipart => true)  do %>
				<%= hidden_field_tag 'nextId', @detection.currId+1 %>
				<div class="thumbnail">
					<a href="#samples" class="thumbnail">
						<%= image_tag(@detection.value[@curr_image_code][1], alt: @curr_image_code, title: @curr_image_code) %>
					</a>
					<div class="caption">
						<h5>Classify:</h5>
						<label class="radio">
							<%= radio_button_tag( "k", "pp" ) %>Mitosis
						</label>
						<label class="radio">
							<%= radio_button_tag( "k", "qp" ) %>Guess Mitosis
						</label>
						<label class="radio">
							<%= radio_button_tag( "k", "qn" ) %>Guess NON Mitosis
						</label>
						<label class="radio">
							<%= radio_button_tag( "k", "nn" ) %>NON Mitosis
						</label>
					</div>
				</div>
		</div>
		<div class="well span4 eqh divCenter">
			<%= submit_tag "Classify", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>


